<div id="mainFrame" >
    <div class="title">{{title}}</div>
    <h1>Derniere mise a jour le {{lastUpdate}}</h1>
    <p>{{news.[0].text}}</p>
    {{#each content}}
    <div class="photoSection"><a href="images/{{this.name}}"><img src="images/mini/{{this.name}}"/></a></div>
    {{/each}}
</div>

